.hero-container {
    padding-top: 2rem;
    display: grid;
    background-image: url(../assets/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-items: center;
}

.hero-left, .hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    font-weight: 500;
}


/* Desktop */
@media only screen and (min-width: 769px) {
    .hero-container {
        grid-template-columns: 1fr 1fr;
        height: 100vh;
    }

    .logo {
        width: 80%;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }

    .logo {
        width: 80vw; 
     }
}