nav {
    background-color: var(--primary-color);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

nav > ul > li {
    list-style: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

nav > ul > li:hover {
    color: var(--background-color);
}